.recruit-section {
  padding-top: 120px;
}

.recruit-img {
  height: 100%;
  object-fit: cover;
}

/* .recruit-section .row {
    position: relative;
}

.fixed-column-parent {
    position: relative;
    max-height: 100vh;
}

.fixed-column {
    position: fixed;
}

.recruit-section {
    position: relative;
} */

.fa {
  padding: 10px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #cb2027;
  color: white;
}